/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --heading-text-color: #333;
  --heading-font: 'Montserrat', Helvetica, sans-serif;
  --padding: 1rem;
  --border: 1px solid rgb(0, 0, 0, 0.1);
}

/* Shared Styles for Header, Footer, and Grid */
header,
footer,
.grid {
  max-width: 840px;
  margin: 0 auto; /* Center horizontally */
}

/* Header Specific Styling */
header {
  text-align: center;
}

nav {
  background-color: rgba(30, 37, 46, 0.746);
  padding: 1rem;
  display: flex;
  justify-content: space-evenly; /* Space links evenly */
  align-items: center;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem;
}
h1 {
  display: inline-block;
  background-color: var(--heading-background-color);
  color: var(--heading-text-color);
  font-family: var(--heading-font);
  padding: var(--padding);
  border-bottom: 2px solid #000;
  padding-bottom: 1rem;   
}
h2 {
  font-family: var(--heading-font);
  margin-bottom: 0.5rem;
  padding-top: 1rem;
}
p {
  padding: var(--padding); 
  line-height: 1.4;
}
/* Grid Layout for Aside and Main */
.grid {
  display: grid; /* Flexbox for two-column layout */
  align-items: center;
  grid-template-columns: 34% 64%;
  grid-template-rows: 1fr;
  gap: 1rem; /* Space between aside and main */
  height: 100%;

  grid-template-areas: "aside main";  
}


/* Aside Styling */
aside {
  grid-area: aside;
  position: relative;
  /* border: var(--border); */
  padding: var(--padding);
  background-color: #f8f8f8;
  text-align: center;
  height: 100%;
}
aside h2{
position: absolute;
left: 50%;
transform: translateX(-50%); /* Ensure it is centered */
color: hsl(0, 0%, 99%); /* Set the text color to white */
z-index: 1; /* Ensure the text is above the image */
}

aside img {
  width: 100%; /* Ensure the image scales properly */
  max-width: 150px;
  height: auto;
  margin-bottom: 1rem;
  z-index: 0; /* Ensure the image stays below the heading */
}

/* Main Content Styling */
main {
  grid-area: main; 
  flex: 3; /* Make main content take up more space */
  /* border: var(--border); */
  padding: var(--padding);
  background-color: #ffffff;
  height: 100%;
}

main img {
  float: right;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  width: 150px;
  height: auto;
  padding: var(--padding);
}

/* Footer Styling */
footer {
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #000; /* Add a top border */
  margin-top: 1rem;
}
.box {
  display: block;
  width: 100%;
  border: var(--border); /* Used variable */
  padding: 1.5rem;
  background-color: #ddd;
  color: #000;
}