:root {
  --heading-background-color: #00a2ff;
  --heading-text-color: #333;
  --heading-font: 'Montserrat', Helvetica, sans-serif;
  --padding: 1rem;
  --border: 1px solid rgb(0 0 0 / 0.1);
}

nav {
 background-color: darkblue;
 padding: 6px;   
}
nav a {
  color: white;
  display: block;
  padding: 20px;  
}
h1 {
  display: inline-block;
  background-color: var(--heading-background-color);
  color: var(--heading-text-color);
  font-family: var(--heading-font);
  padding: var(--padding);    
}
img {
 width: 150px;
 height: auto;
 border: 1px;   
 padding: 2px;
 box-shadow: 0 0 30px gray;
}
p {
  padding: 10px;  
}
main {
  max-width: 840px;  
}
aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 /0.2); /* 1️⃣ */
  padding: var(--padding);
  background-color: hsl(21, 59%, 53%);
  color: #333;
  font-family: var(--heading-font);
  text-align: center;  
}
aside h2 {
  position:absolute;
  left: 150px;
}
aside img {
  width: 200px;
  height: auto;  
}
main img {
  width: 150px;
  height: auto;
  float: right;  
}
p { padding: 0;}
footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;  
}
/* Class Selectors */
.box {
  display: inline-block;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}